@charset "gb2312";
*{
padding:0;
margin:0;
list-style:none;
}
a{
text-decoration:none;
color:#5C5C5C;
font-size:14px;
}
.left{
float:left;
}
.right{
float:right;
}
.clear{
clear:both;
}
body{
font-size:12px;
color:#5C5C5C;
font-family:"ו",sans-serif;
}
#footer{
height:278px;
background-color:#363636;
}
#footer>#info{
width:750px;
margin:0 auto;
color:#99997F;
padding-top:75px;
display:flex;
flex-direction:row;
justify-content:flex-start;
}
#footer>#info>.info-notice{
height:144px;
margin:0 auto;
display:inline-block;
}
#footer>#info>.info-notice>h2{
font-size:22px;
}
#footer>#info>.info-notice>ul{
margin-top:30px;
}
#footer>#info>.info-notice>ul>li{
padding-bottom:12px;
}
#footer>#info>.info-notice>ul>li>a{
font-size:14px;
}
#footer>#info>.s-ewm{
width:195px;
height:105px;
display:flex;
flex-direction:row;
align-items:center;
}
#footer>#info>.s-ewm>.s-ewm-img{
width:105px;
height:105px;
background-repeat:no-repeat;
display:inline-block;
}
#footer>#info-copy{
width:100%;
padding-top:30px;
}
#footer>#info-copy>p{
text-align:center;
font-size:14px;
color:##99997F;
}