@charset "gb2312";
*{
padding:0;
margin:0;
list-style:none;
}
a{
text-decoration:none;
color:#5C5C5C;
font-size:14px;
}
.left{
float:left;
}
.right{
float:right;
}
.clear{
clear:both;
}
body{
font-size:12px;
color:#5C5C5C;
font-family:"ו",sans-serif;
}
#container{
width:1349px;
}
#content{
height:3992px;
margin:0 auto;
text-align:center;
}
#content>#desc1{
height:513px;
background-image:url("../image/image_bg.jpg");
padding-top: 126px;
}
#content>#desc1>#desc1-title{
width:453px;
height:102px;
margin:0 auto ;
}
#content>#desc1>#desc1-title>span{
display:block;
height:51px;
background:url("../image/logo.png") no-repeat;
}
#content>#desc1>#desc1-title>p{
font-size:16px;
color:#A5AAA2;
margin-top:32px;
}
#content>#desc1>#desc1-img{
width:780px;
height:179px;
background:url("../image/bg-1.png");
margin: 80px auto 0;
}
#content>#desc2{
height:597px;
background-color:#fff;
padding-top:107px;
}
#content>#desc2>#desc2-title>h2{
color:#6D6D6D;
font-size:40px;
}
#content>#desc2>#desc2-content{
height:65px;
width:900px;
margin:51px auto 0;
}
#content>#desc2>#desc2-content>p{
color:#B1B1B1;
font-size:16px;
font-weight:bold;
}
#content>#desc2>#desc2-img{
width:700px;
margin:54px auto 0;
}
#content>#desc2>#desc2-img>img{
display:inline-block;
}
#content>#desc3{
background:url("../image/bg1_02.jpg") no-repeat;
padding-top:114px;
}
#content>#desc3>#desc3-content{
width:853px;
height:543px;
background:url("../image/image_2.png") 0 -460px no-repeat;
margin:0 auto;
}
#content>#desc4{
background-color:#fff;
}
#content>#desc4>#desc4-content{
width:1021px;
height:700px;
background:url("../image/tixing.jpg") no-repeat;
margin:0 auto;
}
#content>#desc5{
height:700px;
background:url("../image/bg-3_02.jpg") no-repeat;
}
#content>#desc5>#desc5-content{
width:1000px;
margin:0 auto;
padding-top:110px;
}
#content>#desc5>#desc5-content>#desc5-img{
width:813px;
height:553px;
background:url("../image/image_2.png") 0 -1001px no-repeat;
float:right;
}
#content>#desc6{
height:426px;
background-color:#fff;
padding-top:152px;
}
#content>#desc6>#desc6-content{
width:949px;
height:230px;
background:url("../image/icons.png") no-repeat;
margin:0 auto;
}
